.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  min-width: 350px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  height: 1px;
  background-color: #333;
  margin-bottom: 12px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.price {
  font-weight: bold;
}

.stars {
  color: gold;
  display: flex;
  gap: 2px;
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.row span {
  font-size: 16px;
}

.driverInfoRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
